@use "variables.scss" as v;
@use "typography.scss";

.question {
    color: v.$darker-accent;
    margin: 16px 0 8px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        color: v.$bright-accent;
    }
}

.answer {
    margin: 10px 0 16px 0;
    padding-left: 10px;
}

.list {
    margin-top: 8px;
}

.serach-container {
    display: flex;
    justify-content: center;

    input {
        margin-left: 5px;
        border: 1px solid v.$background;
        border-radius: 8px;
        padding: 4px;
        &:focus {
            outline: 2px solid v.$darker-accent;
        }
    }
}
.chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: "";
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
    margin-right: 8px;
    font-size: 20px;
}

.chevron.right:before {
    left: 0;
    transform: rotate(45deg);
}

.chevron.bottom:before {
    top: 0;
    transform: rotate(135deg);
}

.hidden {
    display: none;
}
