@use "variables.scss" as v;

.nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: v.$background-solid;
    color: v.$secondary-text;
    padding: 1rem 0.5rem;

    &__list {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    &__link {
        list-style-type: none;
    }
}
