@use "variables.scss" as v;

.heading--main {
    font-size: 3rem;
    text-align: center;
}

.heading--section {
    font-size: 2.5rem;
    text-align: center;
}

.subheading {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    color: v.$darker-accent;
}

.caption {
    margin: 10px 0;
    color: v.$middle-text;
}