// colors 

$primary-text: #0d0d0d;
$secondary-text: #ffffff;
$middle-text: #585859;
$bright-accent: #d99414;
$darker-accent: #a6681c;
$background: #e6e0dfcc;

// layout breakpoints 

$layour-breakpoint-sm: 600px;

// spacings 

