@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

:root {
	--primary-text: #0d0d0d;
	--secondary-text: #ffffff;
	--middle-text: #585859;
	--bright-accent: #d99414;
	/* --bright-accent: #c25208; */
	--darker-accent: #a6681c;
	--background: #a69492;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

/*Resuable elements*/

.flex-container {
	display: flex;
	flex-direction: column;
	flex-direction: column;
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px;
}

.button-wrapper {
	margin: 25px 0 15px;
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 600px) {
	.button-sm-block {
		display: flex;
		margin: 15px 0 10px 0;
		justify-content: center;
	}
}

.button {
	background-color: var(--bright-accent);
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	color: var(--secondary-text);
	border-radius: 8px;
	padding: 12px 30px;
}

.button:hover,
.button:focus {
	cursor: pointer;
	background-color: var(--darker-accent);
	transition: all 0.5s;
}

.caption {
	margin: 10px 0;
	color: var(--middle-text);
}

.link {
	color: var(--bright-accent);
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

/* hero section styles */

.intro {
	background-image: url(assets/maine-coon-minimized.jpg);
	background-size: cover;
	opacity: 0.9;
	background-position: center center;
	background-attachment: fixed;
	color: var(--secondary-text);
	padding: 15vh 10px 8vh 10px;
	text-align: center;
}

.heading--main {
	font-size: 45px;
}

.subheading {
	font-size: 1.3rem;
	font-weight: 500;
}

/*FAQ section styles*/

.question {
	color: var(--darker-accent);
	margin: 16px 0 8px;
	font-weight: 500;
}

.faq > .paragraph {
	margin: 10px 0 16px 0;
}

.list-intro {
	margin: 0;
}

.list {
	margin-top: 8px;
}

/* video section styles */

.video-container {
	display: grid;
	place-items: center;
	padding: 30px 10px 20px 10px;
	background-color: var(--primary-text);
	opacity: 0.9;
	color: var(--secondary-text);
}

.video > .caption {
	color: var(--secondary-text);
}

.video {
	width: 100%;
	max-width: 600px;
}

.video-frame {
	width: 100%;
	height: 280px;
}

.social-icons-container {
	padding: 20px 0;
}

.social-media-icon {
	width: 40px;
}

.social-media-icon:hover {
	cursor: pointer;
	transform: scale(1.1);
	transition: 0.5s;
}

/*Blockquote section styles*/

.quote-container {
	max-width: 500px;
	padding: 20px 15px;
	align-self: center;
}

.quote {
	font-size: 28px;
	color: var(--darker-accent);
}

/*Footer styles*/

.footer {
	position: sticky;
	bottom: 0;
	text-align: center;
	background-color: var(--background);
	color: var(--secondary-text);
	padding: 12px 0 15px 0;
	font-size: 1em;
	opacity: 0.9;
}
